.audio-stream-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-stream-player span {
    margin-bottom: 10px;
}

/*.audio-stream-player audio {*/
/*    display: none;*/
/*}*/

.progress {
    position: relative;
    display: flex;
    flex-direction: column;
}
progress {
    margin-top: 10px;
    border: 0;
}

progress.timeline {
    position: absolute;
}

progress.timeline::-webkit-progress-bar {
    background: transparent;
}

progress.cache::-webkit-progress-value {
    background: #c6c6c6;
}

.error-msg {
    color: red;
    font-weight: bold;
}

.pwa-toast {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    padding: 12px;
    border: 1px solid #8885;
    border-radius: 4px;
    z-index: 1;
    text-align: left;
    box-shadow: 3px 4px 5px 0 #8885;
    background-color: white;
}
.pwa-toast .message {
    margin-bottom: 8px;
}
.pwa-toast button {
    border: 1px solid #8885;
    outline: none;
    margin-right: 5px;
    border-radius: 2px;
    padding: 3px 10px;
}