:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: linear-gradient(45deg, #939393, #fdfdfd);
  color: #212121;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  display: none;
}

.bg-text {
  top: 0;
  position: fixed;
  font-size: 10vw;
  line-height: 1.1;
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  background: -webkit-linear-gradient(#ffffff, #636363);
  transform: rotate3d(1, 1, 1, 292deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
  user-select: none;
}

button {
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid transparent;
  padding: 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  background: #212121;

}
button svg path {
  fill: #d7d3cc;
  stroke: #d7d3cc;

}
button:hover {
  background: radial-gradient(#e2e2e2 10%, #939393 80%);
}

button:hover svg path {
  fill: #454545;
  stroke: #454545;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button svg {
  width: 5vw;
  height: 5vw;
}


.card {
  padding: 2em;
}

#app {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section, .container {
  width: 100%;
}

.container, button, select {
  z-index: 1;
}

button, select {
  animation: 1s ease-out 0s 1 slideInLeft;
}

.progress {
  animation: 1s ease-out 0s 1 slideInRight;
}

.row {
  display: flex;
}

.__h-gap-2 {
  gap: 2em;
}

.__h-ai-c {
  align-items: center;
}

.__h-jc-sb {
  justify-content: space-between;
}

.__h-w-100 {
  width: 100%;
}

select {
  font-size: 3vw;
  background: #454545;
  color: #fff;
  padding: 0.2em 0.5em 0.2em 0.2em;
  border: 0;
  border-radius: 30px 30px 0 0;
  transition: background-color 0.25s;
}

select:hover {
  color: #212121;
  background: #787777;
  color: #fff;
}

mark {
  padding: 0 0.5em;
  background: #454545;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}